Django>=4.2.7,<4.3
djangorestframework>=3.14.0,<3.15
drf-spectacular>=0.27.1,<0.28
requests>=2.31.0,<2.33
django-cors-headers>=3.13.0,<3.14
django-admin-tools>=0.9.3,<1.0
coverage>=7.4.1,<7.5
Pillow>=10.2.0,<10.3
django-browser-reload>=1.17.0,<1.18
sendgrid>=6.11.0,<6.12

# Kafka
quixstreams>=2.9.0,<2.10

# QRCodes
segno>=1.6.1,<1.7

# Not required for local dev
psycopg2>=2.9.3,<2.10
uwsgi>=2.0.20,<2.1