.submit-button{

  border: none;
  background-color: #285257;
  color: white;
  height: 4rem;
  border-radius: 20px;
  min-width: 100px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
  align-items: center;
  padding: 8px 27px;
  width : 100%;
  max-width: 500px;

}
.submit-button:hover{
  cursor: pointer;
}