.grid-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.grid-container .col-1 {
  grid-column: span 1;
}
.grid-container .col-2 {
  grid-column: span 2;
}
.grid-container .col-3 {
  grid-column: span 3;
}
.grid-container .col-4 {
  grid-column: span 4;
}
.grid-container .col-5 {
  grid-column: span 5;
}
.grid-container .col-6 {
  grid-column: span 6;
}
.grid-container .col-7 {
  grid-column: span 7;
}
.grid-container .col-8 {
  grid-column: span 8;
}
.grid-container .col-9 {
  grid-column: span 9;
}
.grid-container .col-10 {
  grid-column: span 10;
}
.grid-container .col-11 {
  grid-column: span 11;
}
.grid-container .col-12 {
  grid-column: span 12;
}