<!-- This is required to load static files -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member Manager</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <!-- Allow templates to inject their own types -->
    {% block head %}
    {% endblock %}
    
  </head>
  <body>
    <!-- The following tags define dynamic body content -->
    {% block body %}
    {% endblock %}
    
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
