{% extends 'base.html' %} {% block body %}
<section>
  <h1>Welcome</h1>
  <div>
    Current User:
    {{ user }}
  </div>
  <div>
    <h2>Users Service</h2>
    <ul>
      <li><a href="{% url 'users:register' %}">Register</a></li>
      <li><a href="{% url 'users-auth:login' %}">Login</a></li>
      <li><a href="{% url 'users-auth:logout' %}">Logout</a></li>
      <li><a href="{% url 'users-auth:reset-password' %}">Request Password Reset</a></li>
      <li><a href="{% url 'users-auth:change-password' %}">Change Password</a></li>
      <li><a href="{% url 'users:profile' %}">User Profile</a></li>
      <li><a href="{% url 'users:points' %}">User Points</a></li>
    </ul>
  </div>
  <div>
    <h2>Clubs Service</h2>
    <ul>
      <li><a href="{% url 'clubs:available' %}">Available Clubs</a></li>
    </ul>
    
    {% for club in clubs %}
    <h3>-- {{ club }} </h3>
    <ul>
      <li><a href="{% url 'clubs:home' club_id=club.id %}">Home</a></li>
      <li><a href="{% url 'clubs:join' club_id=club.id %}">Join</a></li>
      
    </ul>
    {% endfor %}
  </div>
  <br />
  <a href="{% url 'admin:index' %}" 
    >Continue to Admin Dashboard &rarr;</a
  >
</section>
{% endblock %}
