{% extends 'base.html' %} {% block body %}
<section>
  <h1>Welcome</h1>
  <div>
    Current User:
    {{ user }}
  </div>
  <div>
    <h2>Users Service</h2>
    <ul>
      <li><a href="{% url 'users:register' %}">Register</a></li>
      <li><a href="{% url 'users:login' %}">Login</a></li>
      <li><a href="{% url 'users:logout' %}">Logout</a></li>
      <li><a href="{% url 'users:profile' %}">User Profile</a></li>
      <li><a href="{% url 'users:points' %}">User Points</a></li>
    </ul>
  </div>
  <div>
    <h2>Clubs Service</h2>
    <ul>
      <li><a href="{% url 'clubs:join' %}">Join Club</a></li>
    </ul>
  </div>
  <br />
  <a href="{% url 'admin:index' %}" 
    >Continue to Admin Dashboard &rarr;</a
  >
</section>
{% endblock %}
