{% extends "users/form.html" %}

{% load static %}

{% block head %}
<title>Reset Password</title>
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block formbody %}
<div class="header-font header-surface">
  Club Manager
</div>
<div class="container-body">
  <div class="header-font header-black header-center">
      Reset Password
  </div>
  <div class="formBody-container">
  <form method="POST" class="formBody">
      {% csrf_token %}
      <div class="input-container">
      
      
      {% for field in form %}
      <!---Not sure how to handle club or event fields yet-->
      {% if field.name == "club" or field.name == "event" %}
          <div></div>
      {% elif field.name == "first_name" %}
      {% else %}
          <div class="input-field">
              {{ field }}
          </div>
      {% endif %}
      {% endfor %}
      </div>
      <input type="submit" value="Reset Password" class="standard-font">
  </form>
  </div>
</div>

{% endblock %}